*{
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 23px;
}

body{
    background-color: rgb(129, 102, 102);
}
.container
{
    border: 3px dashed blue;
    background-color: bisque;
    color: red;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.container button
{
    padding:6px;
    background-color: blueviolet;
    color:white;
}
.container h1{
    border-style: dotted;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
}
.container button:hover
{
    background-color: rgb(234, 131, 29);
    color: rgb(0, 0, 0)
}
