body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app-background {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #6c6955;
  color: white;
  justify-content: flex-start;
  align-items: center;
}
.heading-text {
  color: darkgoldenrod;
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  margin: 50px;
  background-color: black;
  padding: 15px 25px;
  border-radius: 8px;
}
.task-container {
  display: flex;
  max-width: 70vh;
  height: 100%;
  flex-direction: column;
  text-align: center;
  background-color: #2e2e24;
  color: white;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px;
  margin: 0 auto 20px;
  min-height: 205px;
}

.text-input {
  border: darkgoldenrod 3px solid;
  outline: none;
  border-radius: 8px;
  width: 310px;
  font-size: 18px;
  padding: 10px 15px;
  margin: 0 15px 15px 15px;
  font-weight: bold;
}

.add-button {
  background-color: black;
  outline: none;
  border: none;
  color: darkgoldenrod;
  font-size: 17px;
  font-weight: bolder;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  margin: 0 15px 15px 15px;
  cursor: pointer;
}
.no-item-text {
  color: darkgoldenrod;
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
  margin: 50px;
}

.column {
  display: flex;
  flex-direction: column;
}

.list-item {
  background-color: white;
  border: none;
  border-radius: 8px;
  width: 450px;
  font-size: 18px;
  padding: 4px 4px;
  margin: 15px 0;
  color: darkgoldenrod;
  font-weight: bold;
  text-align: start;
  align-items: center;
  cursor: pointer;
}
.delete-icon {
  height: 26px;
  cursor: pointer;
}
.row {
  display: flex;
  flex-direction: row;
}
.jc-space-between {
  justify-content: space-between;
}
